@model SignUpViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Account</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/LoginStyle.css">

</head>
<body id="myPage">
    <div style="margin-top:120px;">
        <div class="container">
            <div class="signIn" style="background: black; ">
                <h4 style="background-color: transparent;"><span class="glyphicon glyphicon-lock"></span>Create Account</h4>
            </div>
        </div>

        <div class="row signIn text-center" style="background-color:white; margin:0 auto;height: 100%;">
            <form style="margin-top:50px">

                <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" type="text" placeholder="Name" asp-for="signUpModel.Name">
                    
                    <span class="focus-input100"></span> <span class="symbol-input100"> <span class="glyphicon glyphicon-user"></span> </span>
                    <span asp-validation-for="signUpModel.Name"></span>
                </div>
                <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" type="text" placeholder="Email" asp-for="signUpModel.Email">
                    <span class="focus-input100"></span> <span class="symbol-input100"> <span class="glyphicon glyphicon glyphicon-envelope"></span> </span>
                    <span asp-validation-for="signUpModel.Email"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" type="text" placeholder="Phone" asp-for="signUpModel.Phone">
                    <span class="focus-input100"></span> <span class="symbol-input100"> <span class="glyphicon glyphicon glyphicon-earphone"></span> </span>
                    <span asp-validation-for="signUpModel.Phone"></span>
                </div>


                <div class="wrap-input100 validate-input m-b-16">
                    <select class="input100 form-select" asp-items='new SelectList(Model.liRoles,"Id","Name")' asp-for="signUpModel.RoleId">
                    </select>
                    <span class="focus-input100"></span> <span class="symbol-input100"> <span class="glyphicon 	glyphicon glyphicon glyphicon-briefcase"></span> </span>
                </div>
                <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" type="password" asp-for="signUpModel.Password" placeholder="Password">
                    <span asp-validation-for="signUpModel.Password"></span>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <span class="glyphicon glyphicon-lock">
                        </span>
                    </span>
                </div>

                <div class="wrap-input100 validate-input m-b-16">
                    <input class="input100" type="password" asp-for="signUpModel.ConfrimPassword" placeholder="Cofirm Password">
                    <span asp-validation-for="signUpModel.ConfrimPassword"></span>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <span class="glyphicon glyphicon-lock">
                        </span>
                    </span>
                </div>
                <div class="flex-sb-m w-full p-b-30">
                    <div class="contact100-form-checkbox">
                    </div>


                    <div>
                        <button type="submit" class="btn btn-block" asp-action="CreateAccount">
                            Create Account
                            <span class="glyphicon glyphicon-ok" style="width:50px"></span>
                        </button>
                        <a asp-action="Index" asp-controller="Book" style="color:#686868; text-decoration: none;cursor: pointer; margin-top:15px !important;">
                            Back to Admin Dashboard <span class="glyphicon glyphicon-wrench"></span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <!-- Footer -->
    <footer class="text-center">
        <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a><br><br>
        <p>
            made by <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-balloon-heart-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8.49 10.92C19.412 3.382 11.28-2.387 8 .986 4.719-2.387-3.413 3.382 7.51 10.92l-.234.468a.25.25 0 1 0 .448.224l.04-.08c.009.17.024.315.051.45.068.344.208.622.448 1.102l.013.028c.212.422.182.85.05 1.246-.135.402-.366.751-.534 1.003a.25.25 0 0 0 .416.278l.004-.007c.166-.248.431-.646.588-1.115.16-.479.212-1.051-.076-1.629-.258-.515-.365-.732-.419-1.004a2.376 2.376 0 0 1-.037-.289l.008.017a.25.25 0 1 0 .448-.224l-.235-.468ZM6.726 1.269c-1.167-.61-2.8-.142-3.454 1.135-.237.463-.36 1.08-.202 1.85.055.27.467.197.527-.071.285-1.256 1.177-2.462 2.989-2.528.234-.008.348-.278.14-.386Z" />
            </svg> Esra'a
        </p>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>

